<section>
    <div class="sectionContent">
        <article>
            <h2><span id ="institutiontitle"></span><span id="institution"></span></h2>
            <strong id ="majortitle"> </strong><span id="major"> </span>
            <br><strong><span id="percentagetitle"></span></strong><span id="percentage"> </span>
            <strong><span id="gpatitle"></span></strong><span id="gpa"></span>
            <br><strong id ="passingyeartitle"> </strong><span id="passingyear"></span>
        </article>

    </div>
    <div class="clear"></div>
</section>