<div class="education">
    <p class="education-school">
        <span class="education-school-title" id="education-school-title"></span><br/>
        <span class="education-school-place" id="education-school-place"></span><br/>
        <span id="percentagetitle"></span><span id="percentage"> </span>
        <span id="gpatitle"></span><span id="gpa"></span>
    </p>
    <p class="education-duration">
        <span id="education-duration-from"></span>
        <span id="education-duration-to"></span>
    </p>
    <p class="education-description" id="education-description"></p>
</div>