<section>
    <div class="sectionContent">
        <article>
            <p><strong id="fathernametitle"></strong> <span id="fathername"></span> <span id="fathernamelinebreak"><br></span>
    <strong id="dobtitle"></strong><span id="dob"></span><span id="doblinebreak"><br></span>
    <strong id="gendertitle"></strong> <span id="gender"></span><span id="genderlinebreak"><br></span>
    <strong id="maritalstatustitle"> </strong> <span id="maritalstatus"></span><span id="maritalstatuslinebreak"><br></span>
    <strong id="nationalitytitle"></strong> <span id="nationality"></span><span id="nationalitylinebreak"><br></span>
    <strong id="languagesknowntitle"></strong> <span id="languagesknown"></span><span id="languagesknownlinebreak"><br></span>
</p>
        </article>
</div>
<div class="clear"></div>
</section>