<section>
    <div class="sectionContent">
        <article>
            <strong id ="referencenametitle"> </strong><span id="name"></span>
            <br id="nametitlelinebreak">
            <strong id="referencejobtitle"> </strong><span id="title"> </span>
            <br id="jobtitlelinebreak">
            <strong id="referencenumbertitle"> </strong><span id="number"> </span>
            <br id="numberlinebreak">
            <strong id="referenceemailtitle"></strong> <span id="email"></span>
        </article>

    </div>
    <div class="clear"></div>
</section>



