
<html>
	
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<link rel="stylesheet" type="text/css" href="resume6.css">
	<link rel="stylesheet" type="text/css" href="print1.css" media="print">
	

</head>


<body>
<div id="page-wrap"><br>
<div id="statement">

</div>
<br>
    <div id="logo">
        <img id="thumbnail" src=""  width="120px" height="120px"></div>
    <div class="identity"><h1 id="name"></h1><br><p>
        <strong id ="numbertitle"> </strong><strong id="number"></strong>
        <br>
        <strong id="emailtitle"> </strong><a href="" id="email"></a><br/>
        <strong id= "addresstitle"> </strong><p align="left"><em id="address"></em>

    </div>
    <div style="clear: both;"></div>

    <div id="summarytitle">
        <div class="catmain"><span id="mysummarytitle"></span></div> <p id="summary">         </p>
    </div>

    <div id="experience">
        <div class="catmain" id ="experiencecontent"></div>
    </div>

    <div id="project">

        <div class="catmain" id ="projectcontent"></div>
    </div>

    <div id="education">
        <div class="catmain" id ="educationcontent"></div>
        <table id="educationtable" class="fixed" style="width:99%;" >



            <tr id ="thead">

                <th class="header" width="40px" align="center"><strong id ="institutiontitle"> </strong></th>
                <th class="header" width="40px" align="center"><strong id ="majortitle"> </strong></th>
                <th class="header" width="10px" align="center"><strong id ="passingyeartitle"> </strong></th>
                <th class="header" width="25px" align="center"><strong id ="percentagecgpatitle"> </strong></th>


            </tr>
        </table>
    </div>

    <div class="catmain" id ="interestcontent"> </div>
    <div id="interest"></div>

    <div class="catmain" id ="skillscontent"> </div>
    <div id="skills"></div>


    <div class="catmain" id ="strengthcontent"> </div>
    <div id="strength"></div>

    <div class="catmain" id ="hobbycontent"> </div>
    <div id="hobby"></div>

    <div class="catmain" id ="personaldetailscontent"></div>
    <div id="personaldetails"></div>


    <div id="references">
        <div class="catmain" id ="referencescontent"> </div>
    </div>

    <div id="declaration">
        <div class="catmain" id ="declarationcontent"> </div>
    </div>

</div>

</body></html>