<div id="edu">
    <strong id ="institutiontitle" style="font-weight: bold"> </strong><span id="institution"></span>
        <br><strong id ="majortitle" style="font-weight: bold"> </strong><span id="major"></span>
        <br><strong><span id="percentagetitle" style="font-weight: bold"> </span></strong><span id="percentage"> </span>
        <strong><span id="gpatitle" style="font-weight: bold"> </span></strong><span id="gpa"></span>
        <br><strong id ="passingyeartitle" style="font-weight: bold"> </strong><span id="passingyear"></span>

</div>

