<!DOCTYPE html>
<html lang="en-IN" class="mdl-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="theme-color" content="#1565c0">
    <title>Resume 8</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="material-icons.css">
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="resume_8.css" type="text/css">
    <script type="text/javascript" src="material.min.js"></script>
</head>

<body>
<main class="mdl-grid main-content">
    <div class="mdl-card mdl-cell--4-col mdl-shadow--2dp left-card" id="left-card">

        <div class="profile-content">


            <div class="profile-image" id="profile-image">
                <span class="message-filler"></span>
                <div class="profile-image-text">
                    <p class="profile-job-title" id="profile-job-title"></p>
                </div>
            </div>





            <div class="mdl-card">
                <div class="mdl-grid">
                    <div class="mdl-cell icon-cell">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="mdl-cell text-cell">
                        <h3 class="profile-name" id="profile-name"></h3>

                    </div>
                </div>
            </div>
            <div class="mdl-card">
                <div class="mdl-grid">
                    <div class="mdl-cell icon-cell">
                        <i class="material-icons">phone</i>
                    </div>
                    <div class="mdl-cell text-cell">
                        <p class="profile-phone-number" id="profile-phone-number"></p>
                        <p class="profile-phone-number-type"></p>
                    </div>
                </div>
            </div>
            <div class="mdl-card">
                <div class="mdl-grid">
                    <div class="mdl-cell icon-cell">
                        <i class="material-icons">email</i>
                    </div>
                    <div class="mdl-cell text-cell">
                        <p class="profile-email" id="profile-email"></p>
                        <p class="profile-email-type"> </p>
                    </div>
                </div>
            </div>
            <div class="mdl-card">
                <div class="mdl-grid">
                    <div class="mdl-cell icon-cell">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="mdl-cell text-cell">
                        <p class="profile-address" id="profile-address"></p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="mdl-card mdl-cell--8-col mdl-shadow--2dp right-card" id="right-card">
    </div>
</main>
</body>

</html>
