<!DOCTYPE html>
<html>
<head>
	<title>Zinginfo - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="Zinginfo CV"/>
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="resume2style.css">
	<link type="text/css" rel="stylesheet" href="resume2fontstyle.css">






</head>
<body id="top">
<div id="cv">
	<div class="mainDetails">


		<div id="headshot">

			<img src ="" width="100" height="100" id="thumbnail">

		</div>


		<div id="name">
			<h1 id="profilename"> </h1>

			<br/>
			<strong id ="numbertitle"> </strong><a href="" id="number"></a><br/>
			<strong id="emailtitle"> </strong><a href="" id="email"></a><br/>
			<strong id= "addresstitle"></strong> <em id="address"></em>


		</div>



		<div id="contactDetails" class="quickFade delayFour">

		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle"> <h1 id="summarytitle"></h1>

				</div>

				<div class="sectionContent" id ="summary">

				</div>
			</article>
			<div class="clear"></div>
		</section>

		<div id ="experience"><div class="sectionTitle" id ="experiencecontent">
			<h1 id="experiencetitle"></h1>
		</div></div>

		<div id ="project"><div class="sectionTitle" id ="projectcontent">
			<h1 id="projecttitle"></h1>
		</div></div>

		<div id ="education"><div class="sectionTitle" id ="educationcontent">
			<h1 id="educationtitle"></h1>
		</div></div>

		<section id ="interestcontent">

			<div class="sectionTitle" >
				<h1 id="intereststitle"></h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li id="interest"> </li>

				</ul>
			</div>
			<div class="clear"></div>

		</section>

		<section id ="skillscontent">

			<div class="sectionTitle" >
				<h1 id="skillstitle"></h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li id="skills"> </li>

				</ul>
			</div>
			<div class="clear"></div>

		</section>

		<section id ="strengthcontent">
			<div class="sectionTitle">
				<h1 id="strengthstitle"></h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li id="strength"> </li>

				</ul>
			</div>
			<div class="clear"></div>

		</section>

		<section id ="hobbycontent">

			<div class="sectionTitle" >
				<h1 id="hobbiestitle"></h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li id="hobby"> </li>

				</ul>
			</div>
			<div class="clear"></div>

		</section>

		<div id ="references"><div class="sectionTitle" id ="referencescontent">
			<h1 id="referencenametitle"></h1>
		</div></div>


		<div id ="personaldetails"><div class="sectionTitle" id ="personaldetailscontent">
			<h1 id="personaldetailstitle"></h1>
		</div></div>

		<div id ="declaration"><div class="sectionTitle" id ="declarationcontent">
			<h1 id="declarationtitle"></h1>
		</div></div>


	</div>
</div>

</body>
</html>