<div id="pro">
    <p><strong id="myprojecttitle" style="font-weight: bold"> </strong><span id="projecttitle"></span>
        <br><strong id ="projectdescriptiontitle" style="font-weight: bold"> </strong><span id="projectdescription"></span>
        <br><strong id="projectdurationtitle" style="font-weight: bold"> </strong><span id="projectduration"> </span>
        <br/><strong id="projectroletitle" style="font-weight: bold"> </strong><span id="projectrole"></span>
        <br><strong id="projectsizetitle" style="font-weight: bold"> </strong><span id="projectsize"></span>
    </p>
</div>