<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zing Resume</title>

    <link rel='stylesheet' href='bootstrap3.min.css' media='all'>
    <link rel='stylesheet' href='resume4deputy.css' media='all'>
    <link rel='stylesheet' href='resumefour.css' media='all'>

    <style>
 @media print
  {

  .rightbreak { page-break-inside:avoid; page-break-after:auto }

  .container {width:100%;}

   }
</style>


</head>
<body>
<!-- partial:index.partial.html -->
<div class="container cv pad-t-40 no-pad-lr">

    <!-- Left Column -->
    <div class="col-md-4 matchHeight no-pad-lr gray">
        <div class="col-md-12 avatar">
            <img src="" id="thumbnail" width="150" height="150">
        </div>
        <div class="col-md-12 bio pad-b-20">
            <div class="center">
                <h1 class="name" id="name"></h1>

            </div>
            <div class="about m-t-50 rightbreak">
                <h3 id="summarytitle"></h3>
                <div class="pad-l-30">
                    <p id="summary"></p>

                </div>
            </div>
            <div class="contact m-t-30 rightbreak" >
                <h3>Contact</h3>
                <div class="pad-l-30">
                    <p><span class="glyphicon glyphicon-earphone circle" aria-hidden="true"></span>
                        <span id="number"></span></p>

                    <p class="m-t-20"><span class="glyphicon glyphicon-map-marker circle"
                                            aria-hidden="true"></span><br><br> <span class="m-l-50"
                                                                                     id="address"></span>
                    </p>

                    <p class="m-t-20"><span class="glyphicon glyphicon-envelope circle"
                                            aria-hidden="true"></span> <span id="email"></span></p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Left Column -->

    <!-- Right Column -->


    <div class="col-md-8 matchHeight no-pad-r">

        <!-- Start Experience -->
        <div class="col-md-12 m-t-20 rightbreak">
            <div class="experience" id="experiencecontent">
                <p><span class="glyphicon glyphicon-briefcase"></span><span class="h3"
                                                                            id="experiencetitle"> </span>
                </p>
                <hr>
                <div id="experience"></div>
            </div>
        </div>

        <!-- End Experience -->

        <!-- Start Education -->
        <div class="col-md-12 rightbreak">
            <div class="education" id="educationcontent">
                <p><span class="glyphicon glyphicon-education"></span><span class="h3"
                                                                            id="educationtitle"> </span>
                </p>
                <hr>
                <div id="education"></div>
            </div>
        </div>
        <!-- End Education -->

        <!-- Start Project -->
        <div class="col-md-12 rightbreak">
            <div class="education" id="projectcontent">
                <p><span class="glyphicon glyphicon-blackboard"></span><span class="h3"
                                                                             id="projecttitle"> </span>
                </p>
                <hr>
                <div id="project"></div>
            </div>
        </div>
        <!-- End Project -->

        <!-- Start Field of Interest -->

        <div class="col-md-12 rightbreak">
            <div class="education" id="interestcontent">
                <p><span class="glyphicon glyphicon-info-sign"></span><span class="h3"
                                                                            id="interesttitle"> </span>
                </p>
                <hr>
                <div id="interest"></div>
            </div>
        </div>

        <!-- End Field of Interest -->

        <!-- Start Skills -->

        <div class="col-md-12 rightbreak">
            <div class="education" id="skillscontent">
                <p><span class="glyphicon glyphicon-pencil"></span><span class="h3"
                                                                         id="skillstitle"> </span>
                </p>
                <hr>
                <div id="skills"></div>
            </div>
        </div>

        <!-- End Skills -->

        <!-- Start Strengths -->

        <div class="col-md-12 rightbreak">
            <div class="education" id="strengthscontent">
                <p><span class="glyphicon glyphicon-plus"></span><span class="h3"
                                                                       id="strengthstitle"> </span>
                </p>
                <hr>
                <div id="strengths"></div>
            </div>
        </div>

        <!-- End Strengths -->

        <!-- Start Hobbies -->

        <div class="col-md-12 rightbreak">
            <div class="education" id="hobbiescontent">
                <p><span class="glyphicon glyphicon-headphones"></span><span class="h3"
                                                                             id="hobbiestitle"> </span>
                </p>
                <hr>
                <div id="hobbies"></div>
            </div>
        </div>

        <!-- End Hobbies -->

        <!-- Start Reference -->



        <div class="col-md-12 rightbreak">
            <div class="education" id="referencecontent">
                <p><span class="glyphicon glyphicon-bookmark"></span><span class="h3"
                                                                           id="referencetitle"> </span>
                </p>
                <hr>
                <div id="reference"></div>
            </div>
        </div>


        <!-- End Reference -->

        <!-- Start Personal Details -->

        <div class="col-md-12 rightbreak">
            <div class="education" id="personaldetailscontent">
                <p><span class="glyphicon glyphicon-user"></span><span class="h3"
                                                                       id="personaldetailstitle"> </span>
                </p>
                <hr>
                <div id="personaldetails"></div>
            </div>
        </div>

        <!-- End Personal Details -->

        <!-- Start Declaration -->

        <div class="col-md-12 rightbreak" >
            <div class="education" id="declarationcontent">
                <p><span class="glyphicon glyphicon-list-alt"></span>

                    <span class="h3" id="declarationtitle"> </span>
                </p>
                <hr>
                <div id="declaration"></div>
            </div>
        </div>

        <!-- End Declaration -->

        <!-- Start Signature -->

        <div class="col-md-12 rightbreak">


          <span class="pull-right">
            <img src="" width="150" height="35" id="signature"/>
             <br>
            <span id="signaturename"></span>

           </span>


        </div>
    </div>



    <!-- End Signature -->


</div>
<!-- partial -->
<script src='jquery.min.js'></script>
<script src='bootstrap3.min.js'></script>
<script src='jquery.matchHeight-min.js'></script>

</body>
</html>