<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Resume stuff</title>
  
    <link rel="stylesheet" href="reset.min.css">

  
      <link rel="stylesheet" href="resume1style.css">

  
</head>

<body>

  <!-- FONTS -->
<link href='/font/opensans.css' rel='stylesheet' type='text/css'>
<link href='/font/raleway.css' rel='stylesheet' type='text/css'>
<link href='/font/montserrat.css' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name" style="font-weight: bold; font-size:40px"><div class="abs-center"><span id="name"></span></div></div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                
             <img src="" id="thumbnail" width="150" height="150"/>
            </div>
        </div>
        <strong id ="numbertitle" style="font-weight: bold"> </strong><br><strong id="number"></strong> <br>
        <strong id="emailtitle" style="font-weight: bold"> </strong><a href="" id="email"></a><br/>
        <strong id= "addresstitle" style="font-weight: bold"></strong><p align="left"><em id="address"></em>


        <p class="rela-block caps side-header" id ="skillstitle"></p>
        <p class="rela-block list-thing" id ="skills"></p>

        <p class="rela-block caps side-header" id ="strengthstitle"></p>
        <p class="rela-block list-thing" id ="strengths"></p>

        <p class="rela-block caps side-header" id ="interesttitle"></p>
        <p class="rela-block list-thing" id ="interest"></p>

        <p class="rela-block caps side-header" id ="hobbiestitle"></p>
        <p class="rela-block list-thing" id ="hobbies"></p>

       
    </div>
    <div class="rela-block content-container">
    
        <div class="rela-block caps greyed" id="summarytitle"></div>
        <p class="long-margin" id = "summary"> </p>


        <div class="rela-block caps greyed" id="experiencetitle"> </div>
            <p class="long-margin" id="experience"></p>

        <div class="rela-block caps greyed" id="educationtitle"> </div>

        <p class="long-margin" id="education"></p>


        <div class="rela-block caps greyed" id="projecttitle"> </div>

        <p class="long-margin" id="project"></p>

        <div class="rela-block caps greyed" id="personaldetailstitle"> </div>

        <p class="long-margin" id="personaldetails"></p>

        <div class="rela-block caps greyed" id="referencestitle"> </div>

        <p class="long-margin" id="references"></p>


        <div class="rela-block caps greyed" id="declarationtitle"> </div>

        <p class="long-margin" id="declaration"></p>

        <p class="rightalign" id="signaturecontent"></p>
        <p align="end">
        <img src="" width="150" height="35" id="signature"/></p>
        <p align="end" id="signaturename"></p>


    </div>



</div>
  <script src='jquery.min.js'></script>

  

    <script  src="resume1script.js"></script>




</body>

</html>
